h1 {
	color: blue;

}



#red {
	color: red;
}


#green {
	color: green;
}

body {
	background-image: url("nyan-cat.gif")

}


body {
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

}